{% extends"layout_10.html" %}
{% block content %}
    <div class="card_container">
        <div class="card card_1">
            <i class="fas fa-balance-scale fa-3x"></i>
            <h2>Criminal Law</h2>
            <p>Our expert attorneys will defend your rights and provide you with the best representation in criminal cases.</p>
        </div>
        <div class="card card_2">
            <i class="fa-solid fa-people-roof fa-3x"></i>
            
            <h2>Family Law</h2>
            <p>We handle various family matters including divorce, child custody, and adoption with compassion and expertise.</p>
        </div>
        <div class="card card_3">
            <i class="fas fa-solid fa-gavel fa-3x"></i>
            <h2>Corporate Law</h2>
            <p>Our team assists businesses of all sizes in navigating complex legal issues and achieving their goals.</p>
        </div>
        <div class="card card_4">
            <i class="fa-solid fa-house fa-3x"></i>
            <h2>Real Estate Law</h2>
            <p>Whether you're buying, selling, or leasing property, our attorneys provide comprehensive legal guidance.</p>
        </div>
        <div class="card card_5">
            <i class="fa-solid fa-lightbulb fa-3x"></i>
            <h2>Intellectual Property Law</h2>
            <p>We help protect your intellectual property rights through patents, trademarks, and copyrights.</p>
        </div>
        <div class="card card_6">
            <i class="fa-solid fa-person-digging fa-3x"></i>
            <h2>Employment Law</h2>
            <p>Our firm handles a wide range of employment issues including discrimination, harassment, and wrongful termination.</p>
        </div>
        <div class="card card_6">
            <i class="fa-solid fa-globe fa-3x"></i>
            <h2>International Law</h2>
            <p>Our firm handles a wide range of employment issues including discrimination, harassment, and wrongful termination.</p>
        </div>
    </div>

{% endblock%}
